<html lang="zh-CN">

<head>
    <!--支持移动设备-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charbug="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>产品自动化测试平台</title>
</head>

<body role="document">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-sm bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">&nbsp;</a>
            <ul class="nav justify-content-center"></ul>
            <ul class="nav justify-content-end">
                <li class="nav-link"><a style='color:white' href="#">{{user}}</a></li>
                <li class="nav-link"><a style='color:white' href="/logout">退出</a></li>
            </ul>
        </div>
    </nav>
    

    <!--产品列表-->
    <div class="page-header" style="padding-top:70px;">
        <form method="GET" class="navbar-form" action="/bugsearch/">
        {% csrf_token %}
        <input type="search" name="bugname" placeholder="名称" required>
        <button type="submit">搜索</button>
        </form>
    </div> 
    <span style="position:absolute;right:50%;bottom:30px;">
            <div style="position:absolute; right:100px;width:100px;">
                <tr>
                    <th>共</th>
                    <td>{{bugcounts}}</td>
                    <th>条记录</th>
                </tr>            
            </div>
            <div class="container">
                <ul class="pagination" id="pager">
                    {#上一页按钮开始#}
                    {# 如果当前页有上一页#}
                    {% if bugs.has_previous %}
                        {#  当前页的上一页按钮正常使用#}
                        <li class="previous"><a href="/bug_manage/?page={{ bugs.previous_page_number }}">上一页</a></li>
                    {% else %}
                        {# 当前页的不存在上一页时,上一页的按钮不可用#}
                        <li class="previous disabled"><a href="#">上一页</a></li>
                    {% endif %}
                    {#上一页按钮结束#}
                    {# 页码开始#}
                    {% for num in bugs.paginator.page_range %}
                        {% if num == currentPage %}
                            <li class="item active"><a href="/bug_manage/?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li class="item"><a href="/bug_manage/?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {#页码结束#}
                    {# 下一页按钮开始#}
                    {% if bugs.has_next %}
                        <li class="next"><a href="/bug_manage/?page={{ bugs.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">下一页</a></li>
                    {% endif %}
                    {# 下一页按钮结束#}
                </ul>
            </div>
            </span>
    <div class="row" style="padding-top:20px;">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>产品</th>
                        <th>bug名称</th>
                        <th>bug详情</th>
                        <th>解决状态</th>
                        <th>严重程度</th>
                        <th>创建人</th>
                        <th>分配给</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bug in bugs %}
                    <tr>
                        <td>{{ bug.id }}</td>
                        <td>{{ bug.Product.productname }}</td>
                        <td>{{ bug.bugname }}</td>
                        <td>{{ bug.detail }}</td>
                        <td>{{ bug.status }}</td>
                        <td>{{ bug.level }}</td>
                        <td>{{ bug.creater }}</td>
                        <td>{{ bug.assign }}</td>
                        <td>{{ bug.createn_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>