<html lang="zh-CN">
<head>
<!--支持移动设备-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<title>产品自动化测试平台</title>   
</head>
<body role="document">
<!-- 导航栏 -->    
<nav class="navbar navbar-expand-sm bg-dark fixed-top">
<div class="container">
<a class="navbar-brand" href="#">&nbsp;</a>
<ul class="nav justify-content-center"></ul>        
<ul class="nav justify-content-end">
    <li class="nav-link"><a style='color:white' href="#">{{user}}</a></li>
    <li class="nav-link"><a style='color:white' href="/logout">退出</a></li>    
</ul>
</div>    
</nav>

<!--产品列表-->
<div class="page-header" style="padding-top:70px;padding-left:10px;">
    <form method="GET" class="navbar-form" action="/productsearch/">
    {% csrf_token %}
    <input type="search" name="productname" placeholder="名称" required>
    <button type="submit">搜索</button>
    </form>
</div>
<span style="position:absolute;right:100px;bottom:30px;">
<div class="container">
    <ul class="pagination" id="pager">
        {#上一页按钮开始#}
        {# 如果当前页有上一页#}
        {% if products.has_previous %}
            {#  当前页的上一页按钮正常使用#}
            <li class="previous"><a href="/product_manage/?page={{ products.previous_page_number }}">上一页</a></li>
        {% else %}
            {# 当前页的不存在上一页时,上一页的按钮不可用#}
            <li class="previous disabled"><a href="#">上一页</a></li>
        {% endif %}
        {#上一页按钮结束#}
        {# 页码开始#}
        {% for num in products.paginator.page_range %}
            {% if num == currentPage %}
                <li class="item active"><a href="/product_manage/?page={{ num }}">{{ num }}</a></li>
            {% else %}
                <li class="item"><a href="/product_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {#页码结束#}
        {# 下一页按钮开始#}
        {% if products.has_next %}
            <li class="next"><a href="/product_manage/?page={{ products.next_page_number }}">下一页</a></li>
        {% else %}
            <li class="next disabled"><a href="#">下一页</a></li>
        {% endif %}
        {# 下一页按钮结束#}
    </ul>
</div>
</span>

<div class="row" style="padding-top:20px;">
<div class="col-md-11">
<table class="table table-striped">
<thead>
<tr>
<th>ID</th> <th>产品名称</th><th>产品描述</th><th>产品负责人</th><th>创建时间</th>
</tr>
</thead>
<tbody>
{% for product in products %}
<tr>
    <td>{{ product.id }}</td>  
    <td>{{ product.productname }}</td>  
    <td>{{ product.productdesc }}</td>  
    <td>{{ product.producter }}</td>  
    <td>{{ product.create_time }}</td>  
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
   
</body>

</html>