<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>自动化测试平台</title>
</head>

<body role="document">
    <!--navbar-expand-md 无该属性,collapse不显示-->
    <nav class="navbar navbar-expand-sm bg-dark nvarbar-dark fixed-top">
        <div class="container">
                <a class="navbar-brand" href="#" style="color:white">&nbsp;</a>
            <!-- collapse折叠   -->
                <ul class="nav justify-content-center">
                    <li class="active"><a style='color:white' href="/apis_manage/">单一接口</a></li> 
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a style='color:white' href="/apitest_manage/">流程接口</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="active"><a style='color:white' href="/appcase_manage/">app用例</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="active"><a style='color:white' href="/webcase_manage/">web用例</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-link"><a style="color:white" href="../admin">{{user}}</a></li>
                    <li class="nav-link"><a style="color:white" href="/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--流程接口测试步骤-->
    <div class="row" style="padding-top:70px;padding-left:30px">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>产品</th>
                        <th>接口名称</th>
                        <th>URL地址</th>
                        <th>参数=值</th>
                        <th>方法</th>
                        <th>预期结果</th>
                        <th>测试结果</th>
                        <th>执行时间</th>
                    </tr>
                </thead>
                <tbody>

                    {% for apistep in apisteps %}
                    <tr>
                        {% if apistep.Apitest.id == apitest.id %}                            
                        <td>{{apistep.Apitest.Product.productname}}</td>
                        <td>{{apistep.apiname}}</td>
                        <td>{{apistep.apiurl}}</td>
                        <td>{{apistep.apiparamvalue}}</td>
                        <td>{{apistep.api_method}}</td>
                        <td>{{apistep.apiresult}}</td>
                        <td>{% if apistep.apistatus == 1 %} 
                            <a style='color:green'>{{apistep.apistatus}}</a>
                            {% else %}
                            <a style="color:red">{{apistep.apistatus}}</a>
                            {% endif %}
                        </td>
                        <td>{{apistep.create_time}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                </tbody>

            </table>

        </div>

    </div>

</body>

</html>