<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>自动化测试平台</title>
</head>

<body role="document">
    <!--导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">&nbsp;</a>
                <ul class="nav justify-content-center">
                    <a class="nav-link" style="color:white" href="/apitest_manage/">流程接口测试</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="nav-link"  style="color:white" href="/apistep_manage/">流程接口测试步骤</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="nav-link"  style="color:white" href="/apistep_manage/">单一接口测试用例</a>
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-link"><a style="color:white" href="../admin">{{user}}</a></li>
                    <li class="nav-link"><a style="color:white" href="/logout/">退出</a></li>
                </ul>
            </div>
    </nav>
    <!--流程接口-->
    <div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/apisearch">
    <!-- {% csrf_token %} -->
    <input type="search" name="apitestname" placeholder="名称" required>
    <button type="submit">搜索</button>
    </form>
    </div>
    <span style="position:absolute;right:50%;bottom:30px;">
            <div style="position:absolute; right:100px;width:100px;">
                    <tr>
                        <th>共</th>
                        <td>{{apitestcounts}}</td>
                        <th>条记录</th>
                    </tr>            
                </div>
            <div class="container">
                <ul class="pagination" id="pager">
                    {#上一页按钮开始#}
                    {# 如果当前页有上一页#}
                    {% if apitests.has_previous %}
                        {#  当前页的上一页按钮正常使用#}
                        <li class="previous"><a href="/apitest_manage/?page={{ apis.previous_page_number }}">上一页</a></li>
                    {% else %}
                        {# 当前页的不存在上一页时,上一页的按钮不可用#}
                        <li class="previous disabled"><a href="#">上一页</a></li>
                    {% endif %}
                    {#上一页按钮结束#}
                    {# 页码开始#}
                    {% for num in apitests.paginator.page_range %}
                        {% if num == currentPage %}
                            <li class="item active"><a href="/apitest_manage/?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li class="item"><a href="/apitest_manage/?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {#页码结束#}
                    {# 下一页按钮开始#}
                    {% if apisteps.has_next %}
                        <li class="next"><a href="/apitest_manage/?page={{ apis.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">下一页</a></li>
                    {% endif %}
                    {# 下一页按钮结束#}
                </ul>
            </div>
            </span>
    <div class="row" style="padding-top:70px;padding-left:30px">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>业务接口流程名称</th>
                        <th>执行人</th>
                        <th>结果</th>
                    </tr>
                </thead>
                <tbody>
                    {% for apitest in apitests %}
                    <tr>
                        <td>{{apitest.id}}</td>
                        <td>{{apitest.apitestname}}</td>
                        <td>{{apitest.apitester}}</td>
                        <td>    
                        {% if apitest.apitestresult == 1 %}
                            <a style="color:green"> {{apitest.apitestresult}} </a>
                        {% else %}
                            <a style="color:red">{{apitest.apitestresult}}</a>
                        {% endif %}       
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>




</body>

</html>