<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script> -->

    <title>test</title>
</head>

<body role="document">
    <!--inverse 倒转-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="../welcome" target="mainFrame">自动化测试开发</a>
    </nav>
    <!-- <table border="0">glyphicon glyphicon-credit-card-->
    <div class="container-fluid">

        <tr>
            <td>
                <li>
                    <a href="../product_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-gift"></i>
                        产品中心
                    </a>
                </li>
        </tr>
        </td>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <li>
                    <a href="../apitest_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-star"></i>
                        用例管理
                    </a>
                </li>
        </tr>
        </td>

        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <li>
                    <a href="../periodic_task" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-fire"></i>
                        定时任务
                    </a>
                </li>
        </tr>
        </td>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <li>
                    <a href="../bug_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        bug 管理
                    </a>
                </li>
        </tr>
        </td>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <li>
                    <a href="../test_report" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-calendar"></i>
                        测试报告
                    </a>
                </li>
        </tr>
        </td>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <li>
                    <a href="../set_manage" target="mainFrame" style="font-size:18px">
                        <i class="glyphicon glyphicon-cog"></i>
                        系统设置
                    </a>
                </li>
        </tr>
        </td>

        <tr>
            <td>&nbsp;</td>
        </tr>


    </div>
    <!--</table>-->

</body>

</html